<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 添加 Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  
  <body>

    <header>
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </header>

    <div id="banner"></div>

    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="#website">网站首页</a></li>
          <li><a href="#meeting">会议信息</a></li>
          <li><a href="#organization">组织机构</a></li>
          <li><a href="#agenda">会议日程</a></li>
          <li><a href="#reports">邀请报告</a></li>
          <li><a href="#traffic">交通信息</a></li>
          <li><a href="#accommodation">住宿安排</a></li>
          <li><a href="#contact">联系我们</a></li>
        </ul>
      </nav>

      <section>
        {{ content }}
      </section>

      <footer>
        <p>&copy; 2025 CCC 组委会 | 电子邮件: ccc2025qd@163.com</p>
      </footer>
    </div>

    <button id="back-to-top" title="返回顶部">↑</button>
    
  </body>
</html>
